@{
    ViewBag.Title = "About";
}



    <div class="container" style="font-size:20px;text-align:center">
        <h1 class="ola" style="margin-top: 10px;">
            Sobre mim
        </h1>
        <p>
            Atualmente eu estudo e trabalho na área de tecnogia, gosto bastante de trabalhar em equipe, sou bem comunicativo, assisto algumas series em inglês
            para que eu consigar testar meu inglês, gosto muito do idioma e pretendo fazer um intercâmbio voluntário para Los Angeles em 2021, onde eu vou poder conhecer pessoas novas e uma nova cultura.
        </p>
        <p>
            Comecei na
            área de tecnologia em 2016 em um curso de informática na ETEC Professor Basilides de Godoy, atualmente faço faculdade de sistema de informação na Faculdade Impacta.
        </p>
        <p>
            Já trabalhei como jovem aprendiz e agente de vendas em um call center e hoje finalmente estou trabalhando na
            área que eu queria
        </p>
        <div class="card" style="margin-top: 10px;">
<br />
            <div class="card-header">
                Frase
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Se voce estiver com pressa, vai ter varios semaforos com sinal vermelho no caminho.</p>
                    <footer class="blockquote-footer">Algo que sempre digo<cite title="Ansiedade"></cite></footer>
                </blockquote>
            </div>
        </div>
        <h1 class="ola" style="margin-top: 10px;">Hobbies</h1>
        <ul>
            <ol>Gosto de jogar league of legends - Gosto muito da personagem Vi</ol>
            <ol>Gosto de assistir desenho e filmes - Fã de filmes de super herois</ol>
            <ol>Gosto muito de Naruto - Gosto do jeito que o personagem Naruto nunca desiste</ol>
        </ul>
        <img class="vi" src="~/Scripts/image/vi-png-4.png" width="350" height="350" />
    </div>

<div class="separador">

</div>


