@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="sorte" style="margin-right: 5%;">
        <div class="contatos">
            <div class="S" style="border: solid 2px black;margin-bottom: 10px;">
                <center><p class="ola">CONTATOS</p></center>
                <img src="~/Scripts/image/contato.png" width="50" height="50" style="margin-left: 147px;margin-top:10px;" />
                <Center style="font-weight:bold; ">Ligue<BR />(11)97665-3008</Center>
                <img src="~/Scripts/image/email.png" width="50" height="50" style="margin-left: 147px;" />
                <center style="font-weight:bold;">sluan298@gmail.COM</center>
                <a href="https://www.linkedin.com/in/luan-santos-4b6509151/" target="_blank"> <img src="~/Scripts/image/in.png" width="50" height="50" style="margin-left: 147px;" /></a>
                <center><a style="text-decoration:none;font-weight:bold;" target="_blank" href="https://www.linkedin.com/in/luan-santos-4b6509151/">Meu linkedin</center></a>
                

            </div>
            <div class="tamanho" style="border: solid 2px black;">
                <center><p class="ola" style="padding-top: 6px;">FALE CONOSCO</p></center>
                <form action="">
                    <input type="text" name="Nome" required="required" placeholder="Nome">
                    <input type="email" name="Email" required="required" placeholder="Email">
                    <input type="text" name="Telefone" required="required" placeholder="Telefone">
                    <textarea name="mensagem" required="required" placeholder="Escreva sua mensagem!"></textarea>
                    <input type="submit" value="Enviar" id="botao">
                </form>
            </div>
        </div>

    </div>
</div>